group App
  framework: netstandard2.0, net5.0

  storage: none
  source https://api.nuget.org/v3/index.json

  nuget FSharp.Core
  nuget FParsec
  nuget FSharp.Compiler.Service
  nuget FSharp.Collections.ParallelSeq
  nuget MessagePack
  nuget MessagePack.FSharpExtensions
  nuget System.Reflection.Metadata
  nuget Ply
  
  nuget Microsoft.SourceLink.GitHub copy_local:true

  nuget Persimmon
  nuget Persimmon.MuscleAssert

  nuget BenchmarkDotNet

group Build
  framework: netstandard2.0
  storage: none

  source https://api.nuget.org/v3/index.json
  
  nuget FAKE
  nuget FAKE.Persimmon
  nuget Persimmon.Console
